[package]
name = "operaton-task-worker-macros"
description = "Proc-macros for operaton-task-worker"
version = "0.1.1"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
quote = "1"
syn = { version = "2", features = ["full"] }
proc-macro-crate = "3"
